<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Char</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{129,193},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_sheet.png</string>
            <key>size</key>
            <string>{256,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e46da4c1948c7d14005e091d76f859b7:1681959853262c775b3bdad3fd0fcad7:6c387d6554a53702a7d8cd6ca26052ff$</string>
            <key>textureFileName</key>
            <string>character_sheet.png</string>
        </dict>
    </dict>
</plist>
